@media(max-width:960px){
  .grid{
    grid-template-columns:1fr;
    grid-template-areas:"header""aside""main""footer";
    grid-gap:0;
    margin-right: 30px;
  }
#header{
    border-bottom: none;
}
  #aside{
    position:relative;
    margin-top:0;
  }
  #aside ul{
  position:relative;
  list-style-type: none;
  margin-left: 0;
}

  }
  #aside ul a{
    display: block;
    margin-bottom: 10px;
    background-color: #eee;
    line-height: 3;
  }

  #main {
    z-index:20;
    font-family: 'Roboto', sans-serif;
  	grid-area: main;
    margin-left: 20px;
    margin-right:20px;
  }
}
