

html, body, div, span,  object,
h1, h2, h3, h4, h5, h6, p,
a,
ol, ul, li
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Raleway',Verdana, sans-serif;
	line-height: 1.8em;
	color: #696969;
}


p {

	font-size: 16pt;
}
h1 {


	font-size: 22pt;
}
h2 {

	font-size: 18pt;
}
h3 {

	font-size: 16pt;
}
h4 {

	font-size: 16pt;
}
h5 {

	font-size: 12pt;
}
h6 {

	font-size: 8pt;
}


a:hover {
	color: #f08080;
	text-decoration: underline;
}

.header {
	position: fixed;
	background-color: #ffffff;
	width: 100%;
	height: 118px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	z-index: 3;
	display:grid;
	grid-template-columns: 120px 120px;
	grid-template-rows: 200px 480px;
}
.name {
	float: left;
	width: 200px;
	padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.header .text {
	width: 480px;
	height: 20px;
	margin-left: 260px;
	padding-top: 20px;
	padding-left:60px;
}

.header .name a{
	text-decoration: none;
}

.header .name a h1:hover {
	color: #f08080;
	text-decoration: underline;
}


.sidebar {
	position: fixed;
	background-color: #ffffff;
	width: 260px;
	height: 100%;
	padding-top: 130px;
	border-right-width:1px;
	border-right-style: solid;
	border-right-color: #d3d3d3;
	z-index: 2;
	display:grid;
	grid-template-columns: 260px;
	grid-template-rows: 260px 200px;
}

.sidebar-nav {
	width: 180px;
	padding-top: 60px;
	padding-right: 20px;
	padding-left: 40px;


}

.sidebar-nav ul li {
	padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.sidebar-nav .selected {
	color: #f08080;
}

.sidebar-nav ul li a {
	font-size: 14pt;
	color: #696969;
	text-decoration: none;

}
.sidebar-nav a:hover {
	color: #f08080;
	text-decoration:underline;
}

.sidebar-footer {
	width:240px;
	padding-top: 100px;
	padding-right: 20px;
	padding-left: 40px;

}
.sidebar-footer .text p{
	font-size:12px;
}


.main {
	float: left;
	width: auto;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 100px;
	margin-left: 260px;
	padding-top: 130px;
	padding-left: 40px;
	z-index: 1;
	display:grid;
	grid-template-columns: auto;
	grid-template-rows: minmax(100px, auto);
}

.content {
	width: auto;
	margin-top: 10px;
	margin-bottom: 100px;
}

.content .text{

	padding-top:20px;
	padding-right:40px;
	padding-bottom:20px;
}

.content .img{
	width: auto;

}

.content .img img{
	float: left;
	width: 600px;
	height: 500px;
	margin-bottom: 60px;
	border:2px solid #f08080;

}


.top {
	float: left;
	width: auto;
	height: 16px;
	padding-top:20px;
	padding-left:0px;
	font-size: 14pt;
	z-index: 1;
}



#home_img{
	width: 600px;
	height:500px;
}


.content h3{
	color:#f08080;
	font-weight:bold;
	font-size: 18pt;
}

.content h6{
	font-weight:bold;
	font-size: 16pt;
}

.download {
	float: left;
	width: 720px;
	height: 16px;
	margin-top:20px;'
	padding-top:20px;
	padding-left:0px;
	font-size: 16pt;
	z-index: 1;
}
